<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Automacao_D5" connectionString="dCHzZmzDPreen8GU/k9qWzevpUileTyiLhzv8x0NHvDwNqqNnDsDCHJqBF2u/PIZmCzesZNAasfABXaCFuH7xwUl5no2O3szRY42Lli3bwLvAOdmXQD6G06ceehEwe03xmya1cL/vC3BwvHcR7RQNKdBz+yozdFg13wbQDM+t5M=" providerName="System.Data.SqlClient" />
    <add name="Automacao_CRC" connectionString="dCHzZmzDPreen8GU/k9qWzevpUileTyiLhzv8x0NHvCKaaRAmD856Z3w90hN0D7Il8OfLhe08gsgbukV49M+GDXLPdsFoTmn32CBCQ6KvB2HTOBPTsI5xKFN6dIuG02el2VPHUQSALPO5CVPPUoHvO822mi/AtHF7hChzP57SGU=" providerName="System.Data.SqlClient" />
    <add name="Asimov" connectionString="dCHzZmzDPreen8GU/k9qWzevpUileTyiLhzv8x0NHvARgN+aO64fG1/4sgfYhPaJQ365Z4XDw5lfLqyBO+N8+JgjQkylltf8HZxhbyIejIDRxIsA8SERxhvqi2Rwluj8akg9/HDTPA7frPjZ4QrSow==" providerName="System.Data.SqlClient" />
    <add name="TEL_ADMIN" connectionString="6sjzo/u+MVasPvnv6cHsoMMWObKDQlQ8CqCCgLYJZ+bZ2CU196EDuLQ9evVAW+zR/8oFPC/X2LhCKFOkMKFOcmIYQ5ZjTLz68rT7p0j6Z5eChF3Qpg/n+UOqHvPj9SLO9+/Q0u5q0wngauG4b0WJPw==" providerName="System.Data.SqlClient" />
    <add name="Mailing" connectionString="txHKqMW5XPP4YGdzr0klVx05zGqMjGMtZLlJViC9zlvliswvD7vFMHNUxCc9iCWqeZ4k7y2Yqdc3EOy0zV3YfdvZNfW7VW3ye6AoqPRladDRsIeXG6QwT4A3i7L/u+JerMRZQpV+8u/aWsuw+FE+kg==" providerName="Npgsql" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
</configuration>