<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--CONFIGURACOES DE ACESSO AES Production mode -->
    <add key="login_aes" value="BettaPS" />
    <add key="pass_aes" value="Avaya@100" />
    <!--CONFIGURACOES DE ACESSO AES DEBUG mode -->
    <add key="login_aes_DEBUG" value="awsctiuser" />
    <add key="pass_aes_DEBUG" value="CTIuser@100" />
    <!--CONFIGURACOES GERAIS DA TOOLBAR-->
    <add key="Debug" value="false" />
    <add key="onex" value="true" />
    <add key="ToolbarInfo" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CanMakeActiveCall" value="true" />
    <!--CONFIGURACOES PESQUISA SAT-->
    <add key="vdnPesquisa" value="92599" />
    <!--CONFIGURACOES TRANSFERENCIA-->
    <add key="pathDevice" value="C:\Users\^^user^^\AppData\Roaming\Avaya\Avaya one-X Communicator" />
    <!--<add key="pathDevice" value="" />-->
    <add key="optTransf" value="1^CONTAS_PRE^22001,2^CONTAS_OIC^22002,3^FONE_OI_PRE^22003,4^SERVICOS_PRE^22004,5^SERVICOS_OIC^22005,6^TROCA_CARTAO^22006,7^ATENDIMENTO_ESPECIALIZADO_(OCT)^22009,8^POS_PAGO^22010,9^SUPORTE_TECNICO^22011,10^RETENCAO_OI_CONTROLE^22012,11^UTC-CONTAS_PAGAS_E_NAO_BAIXADAS^22013,12^UTC-FRAUDE^22014,13^SUPERVISORES^22015" />
    <add key="VDNInterna" value="22001,22002,22003,22004,22005,22006,22009,22010,22011,22012,22013,22014,22015" />
    <!--CONFIGURACOES SQL-->
    <add key="csBaseDados" value="DRIVER={SQL Server Native Client 10.0};Server=127.0.0.1;Trusted_Connection=no;Uid=TMA;Pwd=tma" />
    <add key="query" value="select TMA from xxx where ramal = '^^ramal^^'" />
    <!--CONFIGURACOESURL CRM-->
    <add key="UrlCrm" value="http://10.73.20.136/oi_crm/conversao_receptivo.aspx" />
    <!--CONFIGURACOESURL CRM-->
    <add key="UrlCrmAtivo" value="http://10.73.20.236/services.aspx" />
    <!--CONFIGURACOES VDN com Callback-->
    <add key="CallBackAll" value="true" />
    <add key="VDNCallback" value="" />
    <!--CONFIGURACOES Campanha-->
    <add key="VDNConta" value="" />
    <add key="skillsConta" value="300,301,302" />
    <!--CONFIGURACOES SKILL-->
    <add key="312" value="SKILL 312" />
    <add key="313" value="SKILL 313" />
    <add key="600" value="SKILL 600" />
    <add key="6600" value="SKILL 6600" />
    <!--Acesso WS - URA Inteligente-->
    <add key="EndPoint" value="http://10.73.20.75/WSInfoCalls.asmx" />
    <add key="UserPom" value="urainteligente" />
    <add key="PassPom" value="3edc#EDC" />
    <!--Acesso Configuracao Transfer-->
    <add key="csAgentDesktop" value="DataSource\AgentDesktop.db" />
    <!--CONFIGURACOES RTS-->
    <add key="Supervisor" value="false" />
    <!--toolbar unica para supervisor/operador esta flag define true se sera supervisor ou false se sera operador-->
    <!-- Endereço API Context Store Production Mode -->
    <add key="isSendResearch" value="true" />
    <!-- inform true if necessary send research, if not inform false -->
    <add key="telcoCTBH" value="https://10.3.9.12/" />
    <add key="telcoArcos" value="http://10.172.200.48/" />
    <add key="pathUpsertContextStore" value="services/CSRest/cs/contexts/upsert/" />
    <!-- Turn on or turn off log for all TSAPI events-->
    <add key="isSaveLogTSAPIEvents" value="true" />
    <!-- API track -->
    <add key="addressApiTraceability" value="http://10.73.20.75:8089/api/Tracker" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSInfoCallsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.73.20.75:8080/WSInfoCalls.asmx" binding="basicHttpBinding" bindingConfiguration="WSInfoCallsSoap" contract="ServiceReference1.WSInfoCallsSoap" name="WSInfoCallsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>